*~
*.stash
TAGS
/Makefile
*.rc
*.Debug
*.Release
release
debug
*.user
android
app/*.bat
app/bb.sh
*.exe
*.ilk
*.pdb
*.obj
app/images
/doc
/media
/gallery
gallery.zip
qml_qmlcache.qrc

